.signin {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:normal;
  font-size: 20px;
  color: #274372;
  margin: 5% auto;
}

.signin > #link {
  color: #274372;
  text-align: center;
  left: 80vh;
  position: relative;
  text-decoration: underline;
}

#but {
  width: 300px;
  height: 30px;
}

.button {
  background-image: linear-gradient(#083D77, #ED6A5A);
  color: white;
  border: none;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}

.signin > #register{
  position: relative;
  right: 45%;
  font-size:80%;
}
