#Image {
  display: block;
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 100px;
  margin: 20% auto;
  cursor: pointer;
  object-fit: cover;
}

#imageInput {
  display: none
}

.heading {
  text-align: center;
  padding: 25px;
  font-size: 25px;
  font-weight: bolder;
  color: #083D77;
}

.pointer {
  cursor: pointer;
  font-size: 18px;
  padding: 0px;
  margin: 10px;
  text-align: center;
}

.menu {
  background-color: #083D77;
  color: white;
  margin-bottom: 20px;
  height: 50px;
  width: 17vw;
  float: right;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  transition: width 0.5s;
}

.menu:hover {
  width: 19vw;
}

.width {
  background-color: gray;
  width: 19vw;
}

@media only screen and (max-width: 992px) {
  #Image { width: 70px; height: 70px; }
}

#settings > #menu {
  box-shadow: 5px 5px 15px gray;
  width: 20vw;
  height: 550px;
  display: inline-block;
  position: absolute;
  top: 15vh;
  right: 8vw;
  background-color: #f8f4f4;
}

#settings > #content {
  background-color: #f8f4f4;
  box-shadow: 5px 5px 15px gray;
  position: absolute;
  top: 15vh;
  left: 8vw;
  width: 40vw;
  height: calc(550px - 20vh);
  padding: 10vh 10vw;
  display: inline-block;
}
