#basic > input {
	width: 100%;
	height: 30px;
  text-align: right;
	margin: 0px;
}

#basic > #saveChanges {
	width: 50%;
	margin: 0px 25%;
	text-align: center;
  border: none;
}

#basic {
	padding: 0px;
}
