#frame {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  float: right;
  padding-left: 5%;
  padding-right: 5%;
  grid-column-gap: 20px;
}

@media only screen and (max-width: 992px) {
  #frame { display: block; }
  #image, #left { width: 100%; }
  img { max-width: 90vw; }
}

#left > button {
  background-color: #ec6b6b;
  border: none;
  width: 100px;
  height: 50px;
  margin: 20px;
  padding: 10px;
}

#left > h1 {
  text-align: right;
}
