.select {
  background-color: #083D77;
  color: white;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  direction: rtl;
  display: inline;
  margin: 15px;
  cursor: pointer;
}

#filter {
  width: 300px;
  display: inline-block;
  position: absolute;
  right: 20px;
  margin: 10px;
  padding: 10px;
  direction: rtl;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter > p {
  padding: 0px;
  margin: 2px;
  position: relative;
  right: 15px;
}

#filter > input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 42px;
  opacity: 1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: right;
  outline:none;
  position: relative;
  right: 15px;
}

body {
  height: 100vh;
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

#lol {
  position: relative;
  display: inline-block;
  top: 20px;
  width: 100px;
  height: 50px;
  background-color: #083D77;
  border-radius: 50px;
  cursor: pointer;
}

#knob {
  width: 40px;
  height: 40px;
  background-image: url('./order.png');
  background-size: 100px;
  position: relative;
  top: 5px;
  left: -5px;
  border-radius: 40px;
  transition: 0.4s ease left, 0.4s ease background-position;
  z-index: 2;
}

#down,  #up {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  color: white;
  font-size: 15px;
  margin-left: -15px;
  text-align: center;
  z-index: 1;
}

#up {
  margin-left: 30px;
}

#ASC:checked + #lol #knob {
  right: 55px;
  background-position: -50px 0;
}

.cates {
  width: 300px;
}

.cat {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.num {
  display: inline;
  width: 80px;
  margin-left: 10px;
}

#filter > .date {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 42px;
  opacity: 1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: right;
  outline:none;
  position: relative;
  right: 15px;
}

#filter > .filter {
  display: block;
  cursor: pointer;
  width: 265px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
}

.catext {
  display: inline-block;
  width: 60px;
  height: 70px;
  margin: 5px;
  position: relative;
}

.catext > span {
  text-align: center;
  display: none;
  position: absolute;
  width: 60px;
  top: 60px;
  border-radius: 15px;
  color: #5b5b5b;
}

.catext:hover > span {
  display: inline-block;
}
