#navigation {
    font-size: 25px;
    height: 70px;
    text-align: right;
    top: 0px;
    width: 100%;
    background-color: white;
    position: relative;
}

.link {
  position: relative;
  top: 30px;
  margin: 25px;
  z-index: 1;
  color: #083D77;
  font-weight: bold;
}

.link:hover {
  border-bottom: 3px solid #083D77;
}

a {
  text-decoration-line: none;
}

.topSpace {
  padding-top: 70px;
  align-content: center;
}

.logo {
  position: relative;
  z-index: 1;
  float: right;
  top: 10px;
  object-fit: cover;
  margin: auto;
  max-height: 70px;
  background-color: transparent;
}

.badge {
  height: 20px;
  position: absolute;
  right: -20px;
  background: #083D77;
  border-radius: 20%;
  color: white;
  width: 20px;
  text-align: center;
  font-size: 15px;
}
