#navigation {
    background-color: #ec6b6b;
    font-size: 25px;
    height: 70px;
    text-align: right;
    position: fixed;
    top: 0px;
    width: 100%;
}

#navigation > a {
  position: relative;
  top: 20px;
  margin: 25px;
}

a {
  color: black;
  text-decoration-line: none;
}

.topSpace {
  padding-top: 70px;
  background-color: #fff8eb;
  align-content: center;
}

.App-logo {
  float: right;
  padding: 5px;
  padding-top: 0px;
  width:50px;
  height: 50px;
/*border-radius: 50%;*/
}
