#navigation {
    background-color: #ec6b6b;
    font-size: 25px;
    height: 70px;
    text-align: right;
  }
  a {
    position: relative;
    top: 20px;
    background-color: #ec6b6b;
    margin: 25px;
    color: black;
    text-decoration-line: none;
  }
