#notifications {
  margin: 0px auto;
  width: 80%;
}
.message {
  height: 100px;
  width: 80%;
  display: inline-block;
  width: 100%;
  margin: 10px auto;
  border: 1px solid black;
  background-color: #f6f6f6;
  padding: 10px;
}
