#notifications {
  margin: 0px auto;
  width: 80%;
}
.message {
  height: 100px;
  width: 80%;
  display: inline-block;
  box-shadow: 2px 2px 10px #888888;
  width: 100%;
  margin: 20px auto;
  background-color: #f8f4f4;
  border-radius: 15px;
  text-align: right;
  direction: rtl;
  padding: 20px;
}
